doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        #google-map-container {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
    script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js")
  body
    block content
